
$primary-color : #8f0606;
$background-color : #e1dad2;
$neutral-color : #4d1635;
$pixel-font : "Press Start 2P", cursive;

$p-font-sizes: (
  null  : 10px,
  480px : 12px,
  640px : 13px,
  1024px: 14px
);
@mixin font-size($fs-map) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @if $fs-breakpoint == null {
      font-size: $fs-font-size;
    }
    @else {
      @media screen and (min-width: $fs-breakpoint) {
        font-size: $fs-font-size;
      }
    }
  }
}
p {
  @include font-size($p-font-sizes);
}
body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: #d0d1d3;
}

body::-webkit-scrollbar-thumb {
  background: #112432;
  border-radius: 15px;
}

body {
  // font-family: "Roboto", sans-serif;
  font-family: "Orbitron", sans-serif;
}
::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}

::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}
.title {
  letter-spacing: 0.5px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}

.modal-title {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  font-size: 2rem;
}

