

@keyframes bounce {
  from { 
    transform: translateY(0px) scale(1);
  }
  to   { 
    transform: translateY(-5px) scale(1, 1);
  }
}

@keyframes blink {
  0% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}