body {
  // font-family: "Roboto", sans-serif;
  font-family: 'Orbitron', sans-serif;
}
::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;  
}

:-ms-input-placeholder {  
  text-align: center; 
}
.title{
  letter-spacing: 0.5px;
  margin-left: 4vw;
}

@keyframes bounce {
  from { 
    transform: translateY(0px) scale(1);
  }
  to   { 
    transform: translateY(-5px) scale(1, 1);
  }
}
