.landing-page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/images/pokemon-wallpaper.jpg);
  > .start-container {
    border: 10px solid transparent;
    border-image: url("../assets/images/dialog_box.png") 30 round;
    background-color: $background-color;
    width: 70vw;
    height: max-content;
    display: flex;
    justify-content: space-between;
    > .dialog-container {
      position: relative;
      margin-left: 2rem;
      display: flex;
      align-items: center;
      font-family: $pixel-font;
    }
    > .options-container {
      display: flex;
      border: 10px solid transparent;
      border-image: url("../assets/images/dialog_box.png") 35 round;
      width: 10vw;
      flex-direction: column;
      justify-content: space-around;

      > div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        > i {
          visibility: hidden;
        }
        > .option-link {

          padding: 0.2rem 1rem 0.2rem 1rem;
          text-decoration: none;
          > p {
            font-family: $pixel-font;
          }
        }
        
      }
      > div:hover {
        > i {
          visibility: visible;
          animation: blink 0.5s;
          animation-iteration-count: infinite;
        }
      }
    }
  }
}
