.landing-page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/images/pokemon-wallpaper.jpg);
  > .start-container {
    border: 10px solid transparent;
    border-image: url("../assets/images/dialog_box.png") 30 round;
    background-color: $background-color;
    width: 70vw;
    height: max-content;
    display: flex;
    justify-content: space-between;
    > .dialog-container {
      margin-left: 2rem;
      display: flex;
      align-items: center;
      font-family: $pixel-font;
    }
    > .options-container {
      border: 10px solid transparent;
      border-image: url("../assets/images/dialog_box.png") 35 round;
      > div {
        display: flex;
        justify-content: center;
        align-items: center;

        > i {
          visibility: hidden;
        }
        > .option-link {
          padding: 0.2rem 1rem 0.2rem 1rem;
          color: black;
          text-decoration: none;
          > p {
            font-family: $pixel-font;
          }
        }
      }
      > div:hover {
        > i {
          visibility: visible;
          animation: blink 0.5s;
          animation-iteration-count: infinite;
        }
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  .start-container {
    flex-direction: column;
  }
  .options-container {
    display: flex;
    justify-content: center;
    width: 30vw;
    margin: 0 auto 0 auto;
  }
}
