.modal-title{
  font-size: 2.5vw;
}
.move-container {
  > ul > li {
    color: #3b3b37;
    text-decoration: none;
    list-style: none;
    font-size: 1.5rem;
    > img {
      visibility: hidden;
      width: 13px;
      height: 13px;
      margin-right: 2px;
    }
  }
  > ul > li:hover {
    cursor: pointer;
    color: #455954;
    > img {
      visibility: visible;
      animation: blink 0.5s;
      animation-iteration-count: infinite;
    }
  }
}

@media only screen and (max-width: 600px) {
  .move-container {
    > ul {
      padding-left: 0;
    }
    > ul > li {
      font-size: 10px;
    }
  }
}
