.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
}
.container{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.selected-pokemon-list {
  display: flex;
  flex-wrap: wrap;
  width: 70vw;
  height: 15vh;
  border: solid #4e4c4c;
  justify-content: flex-start;
  text-align: center;
  
  margin : 0 4vw 0 4vw;
  padding: 1rem;
  font-size: 1.2rem;
}

.selected-pokemon{
  margin-right: 3vw;
  margin-left: 3vw;
}

#btn-inspect{
  text-align: center;
  text-decoration: none;
  margin: 1rem;
  width: 10vw;
  padding: 0.5vh 0 0.5vh 0;
  height: max-content;
  border-radius: 7px;
  background-color: #d4cfcf;
}

.pokemon {
  margin: 0.5em;
  padding: 1em;
  width: max-content;
  height: max-content;
  background-color: rgb(247, 245, 245);
  display: flex;
  flex-direction: column;
  border: solid #4e4c4c;
  text-align: center;
  font-size: 1.2rem;
}
#load-more {
  margin-left: 50%;
}
.pokemon-img {
  width: 6rem;
  height: 6rem;
  
}
.pokemon-img:hover{
  animation-name: bounce;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  cursor: pointer;
}



.search-box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    >input{
        height: 5vh;
        text-align: center;
        font-size: 1.5rem;
        margin: 0 4vw 0 4vw;
    }

}



