.pokemon-list-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  margin: 0;
  padding: 0;
  background-image: url("../assets/gif/rotom-dex.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  > .app-title-container {
    display: flex;
    justify-content: center;
    width: max-content;
    height: max-content;
    padding: 0 2rem 0 2rem;
    margin: 0 auto 0 auto;

    > h1 {
      letter-spacing: 0.1rem;
      margin: 1rem auto 0.5rem auto;
      padding: 0.5rem;
      text-align: center;
      font-family: $pixel-font;
      font-size: 1.5rem;
      color: $primary-color;
    }
  }
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  height: 100%;
}
.selected-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 10px solid transparent;
  background-color: $background-color;
  border-image: url("../assets/images/dialog_box.png") 30 round;
  height: max-content;
  width: 70vw;
  margin: 0rem auto 0rem auto;
}
.selected-pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  width: 60vw;
  padding: 0.5rem;
  font-size: 0.75rem;
}

#btn-inspect {
  letter-spacing: 0.5rem;
  text-align: center;
  font-family: $pixel-font;
  background-color: $background-color;
  border: solid $primary-color;
  color: $primary-color;
  margin-bottom: 0.5rem;
}

.pokemon {
  margin: 0.5rem;
  padding: 0.5rem;
  width: max-content;
  height: max-content;
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  border: solid $primary-color;
  border-radius: 5px;
  text-align: center;
}

.pokemon-img {
  display: flex;
  margin: auto;
  max-width: 4rem;
  height: auto;
}
.pokemon-img:hover {
  animation-name: bounce;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  cursor: pointer;
}

.search-container {
  display: flex;
  > input {
    margin-top: 2vh;
    margin-bottom: 2vh;

    height: 4vh;
    align-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    background: url("../assets/images/search.png") no-repeat scroll 2px 2px;
    background-size: 1.5rem;
    background-position-y: center;
    background-position: 1.5rem;
    background-color: $background-color;
    border-radius: 3px;
    border-color: $primary-color;
    font-family: $pixel-font;
  }
}

.container-list {
  margin: 0 auto 0rem auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 10px solid transparent;
  background-color: $background-color;
  border-image: url("../assets/images/dialog_box.png") 30 round;
  width: 70vw;

  height: 50vh;
  overflow-y: scroll;
}
.container-list::-webkit-scrollbar {
  width: 0.5rem;
}

.container-list::-webkit-scrollbar-track {
  background: #d0d1d3;
}

.container-list::-webkit-scrollbar-thumb {
  background: #112432;
  border-radius: 15px;
}

.load-more-container {
  margin: 2rem auto 0 auto;
  width: max-content;
  height: max-content;
  display: flex;
  justify-content: center;
}
#load-more {
  letter-spacing: 0.5rem;
  text-align: center;
  font-family: $pixel-font;
  background-color: $background-color;
  border: solid $primary-color;
  color: $primary-color;
}
@media only screen and (max-height: 750px) {
  .pokemon-list-container {
    height: max-content;
  }
}
@media only screen and (max-width: 700px) {
  .pokemon-list-container {
    .app-title-container {
      > h1 {
        letter-spacing: 0;
        font-size: 1rem;
      }
    }
  }

  .pokemon-list {
    justify-content: flex-start;
  }
  .pokemon {
    font-size: 0.5rem;
    margin: 0 0.1rem 0 0.1rem;
    padding: 0;
  }
  .pokemon-img {
    max-width: 2rem;
  }
}
