.team-analyst-container {
  display: flex;
  background-image: url("../assets/gif/rotom-dex.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
}

.selected-pokemon-detail {
  width: 30vw;
  height: 100vh;
}
.pokemon-detail {
  display: flex;
  border: 10px solid transparent;
  background-color: #e1dad2;
  border-image: url("../assets/images/dialog_box.png") 30 round;
  margin: 0.5rem 0 0.5rem 0.5rem;
  height: max-content;
  > div {
    display: flex;
    width: max-content;
  }
}

.pokemon-title {
  display: flex;
  flex-direction: column;
  width: 10vw;
  > div {
    display: flex;
    > ul {
      margin-bottom: 0;
      margin-top: 0;
      padding: 0;
      display: flex;
      text-decoration: none;
      list-style: none;
      text-align: right;
      > li {
        font-size: 1rem;
        margin-left: 0.1rem;
        border-radius: 5px;
        border: solid transparent;
        width: max-content;
        text-align: center;
        color: white;
      }
    }
  }
  > img {
    border-width: 4px;
    width: 6vw;
    height: 60%;
    margin: auto;
    animation-name: bounce;
    animation-duration: 0.75s;
    animation-iteration-count: infinite;
  }
  > h4 {
    margin: auto;
  }
}
.pokemon-move-list {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  flex-wrap: wrap;
  flex: 1;
  font-family: "Press Start 2P", cursive;
  > div {
    cursor: pointer;
    text-align: center;
    display: flex;
    width: 40%;
    > img {
      visibility: hidden;
      width: 13px;
      height: 13px;
      margin-right: 1rem;
      margin-top: auto;
      margin-bottom: auto;
    }
  }
  > div:hover {
    > img {
      visibility: visible;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .team-analyst-container {
    display: flex;
    flex-direction: column;
  }
  .selected-pokemon-detail {
    width: 100vw;
    display: flex;
    justify-content: center;
    height: max-content;
    flex-wrap: wrap;
  }
  .pokemon-detail{
    width: 30vw;
  }
  .pokemon-title {
    width: 10vw;
    >img{
      width: 10vw;
    }
  }
}
@media only screen and (max-width: 800px) {
  .pokemon-detail{
    width: 40vw;
  }
}
@media only screen and (max-width: 600px) {
  .selected-pokemon-detail {
    width: 100vw;
  }
  .pokemon-detail{
    width: 100vw;
    height: max-content;
  }
  .pokemon-title {
    width: 30vw;
    height: max-content;
    >img{
      width: 15vw;
    }
  }
}
